{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "commonjs": true,
    "es2022": true,
    "node": true
  },
  "plugins": ["@typescript-eslint", "license-header"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "license-header/header": ["error", "../../copyright.js"],
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {
        "minimumDescriptionLength": 3,
        "ts-check": true,
        "ts-expect-error": "allow-with-description",
        "ts-ignore": "allow-with-description",
        "ts-nocheck": true
      }
    ],
    "@typescript-eslint/default-param-last": ["error"],
    "@typescript-eslint/explicit-member-accessibility": ["error"],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/member-ordering": [
      "error",
      {
        "default": [
          "signature",
          "public-instance-field",
          "protected-instance-field",
          "private-instance-field",
          "instance-field",
          "public-static-field",
          "protected-static-field",
          "private-static-field",
          "static-field",
          "public-constructor",
          "protected-constructor",
          "private-constructor",
          "constructor",
          "public-instance-method",
          "protected-instance-method",
          "private-instance-method",
          "instance-method",
          "public-static-method",
          "protected-static-method",
          "private-static-method",
          "static-method"
        ]
      }
    ],
    "no-constant-binary-expression": ["error"],
    "no-constructor-return": ["error"],
    "no-duplicate-imports": ["error"],
    "require-atomic-updates": ["error"]
  }
}
