config.js
config.json
dist
node_modules
.turbo
package-lock.json
out
.yarn/install-state.gz
.yarn/build-state.yml
*.tsbuildinfo
*.zip
*.tar
*.tar.xz
*.tar.gz
*.7z
*.rar
.swc
.next
.
coverage
apps/discord-bot/commands.json
apps/support-bot/commands.json
.pnpm-store/
Cargo.lock
/target
/data
compose.dev.yml
*.node
.env
