.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #ffffff;


  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;

  text-align: center;

  h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
  }

  @media (min-width: 640px) {
    width: 25%;
    text-align: left;
    justify-content: flex-start;
    padding-left: 70px;
    padding-right: 70px;
  }
}