@font-face {
  font-family: "Lexend Deca";
  src: url(/fonts/LexendDeca.ttf) format("truetype");
}

 * {
  margin: 0;
  padding: 0;
 }

 html, body, #__next {
   width: 100%;
   height: 100%;
   background-color: #1d1d1d;
   font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
   scroll-behavior: smooth;
 }

 #__next  {
  display: flex;
  flex-direction: column;
 }

 main {
  flex: 1;
 }

 img {
  user-select: none;
 }

 .slider {
  position: relative;
 }

 .slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 10000%;
  height: 100%;
}