.invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  text-align: center;

  h1,
  h2,
  p {
    margin-bottom: 32px;
  }

  h1 {
    font-size: 3rem;

    @media (max-width: 640px) {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.5rem;
  }

  margin: 64px;
}
