.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #111111;

  width: 100%;

  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: 640px) {
    flex-direction: column-reverse;
  }
}


.circleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;


  @media (max-width: 640px) {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
  }
}