.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;

  margin-left: 100px;
  margin-right: 100px;

  width: 150px;

  @media (max-width: 640px) {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(#2c7abf, #1668b1);
  border-radius: 35%;
  width: 125px;
  height: 125px;

  margin-top: 10px;
  margin-bottom: 10px;

  color: #ffffff;

  transition: 0.2s;

  &:hover {
    border-radius: 50%;

    background: linear-gradient(rgba(44, 122, 191, 0.7), rgba(22, 104, 177, 0.7));

    transform: scale(0.92);

    animation: pulse;
    animation-duration: 1.05s;
  }
}

.title {
  color: #a2a2a2;
  font-size: 1rem;
  font-weight: normal;
}