{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "react": {
        "runtime": "automatic",
        "importSource": "@statsify/rendering",
        "throwIfNamespace": false
      },
      "optimizer": {
        "globals": {
          "vars": {
            "import.meta.vitest": "false"
          }
        },
        "jsonify": {
          "minCost": 2048
        }
      }
    },
    "target": "esnext",
    "keepClassNames": true,
    "loose": false,
    "externalHelpers": true,
    "preserveAllComments": false,
    "experimental": {
      "keepImportAttributes": true
    }
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "sourceMaps": true
}