@import "tailwindcss";

@theme {
  --font-minecraft: "Minecraft";

  --color-mc-black: #000000;
  --color-mc-dark-blue: #0000AA;
  --color-mc-dark-green: #00AA00;
  --color-mc-dark-aqua: #00AAAA;
  --color-mc-dark-red: #AA0000;
  --color-mc-dark-purple: #AA00AA;
  --color-mc-gold: #FFAA00;
  --color-mc-gray: #AAAAAA;
  --color-mc-dark-gray: #555555;
  --color-mc-blue: #5555FF;
  --color-mc-green: #55FF55;
  --color-mc-aqua: #55FFFF;
  --color-mc-red: #FF5555;
  --color-mc-pink: #FF55FF;
  --color-mc-yellow: #FFFF55;
  --color-mc-white: #FFFFFF;

  --drop-shadow-mc-1: 1px 1px color-mix(in srgb, currentColor 25%, #000 75%);
  --drop-shadow-mc-2: 2px 2px color-mix(in srgb, currentColor 25%, #000 75%);
  --drop-shadow-mc-3: 3px 3px color-mix(in srgb, currentColor 25%, #000 75%);
  --drop-shadow-mc-4: 4px 4px color-mix(in srgb, currentColor 25%, #000 75%);
  --drop-shadow-mc-5: 5px 5px color-mix(in srgb, currentColor 25%, #000 75%);
  --drop-shadow-mc-6: 6px 6px color-mix(in srgb, currentColor 25%, #000 75%);
  --drop-shadow-mc-7: 7px 7px color-mix(in srgb, currentColor 25%, #000 75%);
  --drop-shadow-mc-8: 8px 8px color-mix(in srgb, currentColor 25%, #000 75%);
  --drop-shadow-mc-9: 9px 9px color-mix(in srgb, currentColor 25%, #000 75%);
  --drop-shadow-mc-10: 10px 10px color-mix(in srgb, currentColor 25%, #000 75%);
}


@utility text-mc-1 {
  font-family: var(--font-minecraft);
  font-size: 16px;
  text-shadow: var(--drop-shadow-mc-1);
}

@utility text-mc-2 {
  font-family: var(--font-minecraft);
  font-size: 32px;
  text-shadow: var(--drop-shadow-mc-2);
}

@utility text-mc-3 {
  font-family: var(--font-minecraft);
  font-size: 48px;
  text-shadow: var(--drop-shadow-mc-3);
}

@utility text-mc-4 {
  font-family: var(--font-minecraft);
  font-size: 64px;
  text-shadow: var(--drop-shadow-mc-4);
}

@utility text-mc-5 {
  font-family: var(--font-minecraft);
  font-size: 80px;
  text-shadow: var(--drop-shadow-mc-5);
}

@utility text-mc-6 {
  font-family: var(--font-minecraft);
  font-size: 96px;
  text-shadow: var(--drop-shadow-mc-6);
}

@utility text-mc-7 {
  font-family: var(--font-minecraft);
  font-size: 112px;
  text-shadow: var(--drop-shadow-mc-7);
}

@utility text-mc-8 {
  font-family: var(--font-minecraft);
  font-size: 128px;
  text-shadow: var(--drop-shadow-mc-8);
}

@utility text-mc-9 {
  font-family: var(--font-minecraft);
  font-size: 144px;
  text-shadow: var(--drop-shadow-mc-9);
}

@utility text-mc-10 {
  font-family: var(--font-minecraft);
  font-size: 160px;
  text-shadow: var(--drop-shadow-mc-10);
}


body {
  background-color: #111111;
}