name: CI
on:
  push:
    branches:
    - main
  pull_request

permissions:
  checks: write
  contents: write

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    env:
        TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
        TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4 # v4.0.0

      - name: Install node.js v22
        uses: actions/setup-node@v4.0.3 # v4.0.3
        with:
          node-version: 22.6.0

      - name: Turbo cache
        id: turbo-cache
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4
        with:
          path: .turbo
          key: turbo-${{ github.job }}-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ github.job }}-${{ github.ref_name }}-

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm test:types

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test:coverage