name: CI
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  checks: write
  contents: write

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    env:
        TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
        TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3

      - name: Install node.js v16
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b # tag=v3
        with:
          node-version: 16
          cache: 'yarn'
          cache-dependency-path: yarn.lock

      - name: Turbo cache
        id: turbo-cache
        uses: actions/cache@1c73980b09e7aea7201f325a7aa3ad00beddcdda # tag=v3
        with:
          path: .turbo
          key: turbo-${{ github.job }}-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ github.job }}-${{ github.ref_name }}-

      - name: Cache node_modules
        id: yarn-cache
        uses: actions/cache@1c73980b09e7aea7201f325a7aa3ad00beddcdda # tag=v3
        with:
          path: '**/node_modules'
          key: yarn-deps-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-deps-

      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn --immutable

      - name: Lint
        run: yarn lint

      - name: Commit Lint
        uses: EndBug/add-and-commit@d4d066316a2a85974a05efb42be78f897793c6d9 # tag=v9
        with:
          default_author: github_actions
          message: 'style(lint): lint project'
          pathspec_error_handling: ignore

      - name: Typecheck
        run: yarn test:types

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test:coverage