name: CI
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  checks: write
  contents: write

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    env:
        TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
        TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3

      - name: Install node.js v16
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          node-version: 16

      - name: Turbo cache
        id: turbo-cache
        uses: actions/cache@6998d139ddd3e68c71e9e398d8e40b71a2f39812 # v3
        with:
          path: .turbo
          key: turbo-${{ github.job }}-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ github.job }}-${{ github.ref_name }}-

      - name: Cache node_modules
        id: yarn-cache
        uses: actions/cache@6998d139ddd3e68c71e9e398d8e40b71a2f39812 # v3
        with:
          path: '**/node_modules'
          key: yarn-deps-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-deps-

      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn --immutable
      - name: Lint
        run: yarn lint

      - name: Typecheck
        run: yarn test:types

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test:coverage