name: Crowdin
on:
  push:
    branches:
    - main

permissions:
  checks: write
  contents: write

jobs:
  sync-crowdin:
    name: Sync Crowdin
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3

    - name: crowdin action
      uses: crowdin/github-action@1.0.4
      with:
        upload_sources: true
        upload_translations: true
        download_translations: true
        localization_branch_name: l10n_main
        create_pull_request: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
        CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
