name: Deploy
on:
  push:
    tags:
    - "v*"
  workflow_dispatch:

permissions:
  checks: write
  contents: write

jobs:
  deploy:
    name: Deploy
    runs-on: self-hosted
    environment: production
    steps:
      - name: Checkout repository
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
        with:
          token: ${{ secrets.REPO_PAT }}
          submodules: recursive

      - name: Install dependencies
        run: pnpm install --force

      - name: Build Code
        run: pnpm scripts purge --dist && pnpm build --force

      - name: Prepare Assets
        run: cd assets/private && pnpm blur && cd ../../

      - name: Move Config
        run: cp /home/config.js ./config.js

      - name: Restart PM2
        run: npx pm2 restart pm2.config.cjs
